.meals {
  height: calc(100vh - 13rem);
  overflow: auto;
  flex: 0 0 20%;
  text-align: center;
  background-color: #f4f2f2;
  color: chocolate;
}

.meals::-webkit-scrollbar {
  width: 0.7rem;
  background-color: #f5f5f5;
}

.meals::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, orangered),
    color-stop(1, yellow)
  );
}

.meal__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meal__item {
  margin-top: 2.5rem;
  transition: all 0.2s;
  backface-visibility: hidden;
}

.meal__item:hover {
  color: orangered;
}

.meal__text {
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 0 1rem;
  cursor: pointer;
}

.meal__item img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid orangered;
  cursor: pointer;
  transition: all 0.2s;
  backface-visibility: hidden;
}

.meal__item img:hover {
  transform: scale(1.05);
}
